In [ ]:
SELECT * FROM Customers
WHERE Country='Mexico';